# Data
data/

# Virtual Environment
venv/

# IDE Configurations
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Bytecode Cache
__pycache__/

# Specific files and directories to ignore
src/lab03-cnn.ipynb
src/MNIST/
src/__pycache__/

# SLURM job file
job_ilyarekun.slurm

# Logs
error.log
output.log

