data/

venv/

.vscode/
.idea/

.ipynb_checkpoints
src/__pycache__/

src/lab03-cnn.ipynb
src/MNIST
src/__pycache__/data_preprocessing.cpython-313.pyc
src/__pycache__/model.cpython-313.pyc

job_ilyarekun.slurm
src/__pycache__/
notebooks/training_plots.png
error.log
output.log

notebooks/braincnn_prototype.weights